* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Monserrat",Helvetica,Arial,sans-serif;
  font-size: 16px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* box centratura contenuto */
.central-content {
  width: 70%;
  margin: 0 auto;
}


.btn {
  text-decoration: none;
  font-size: .85em;
}

/* sezione header */
header {
  width: 100%;
  font-size: 1.125em;
}

/* classi liste comuni */
.list-inline {
  height: 100%;
  display: inline-block;
}

.list-inline li {
  height: 100%;
  display: inline-block;
  line-height: 70px;
  padding: 0 5px;
}

.login-lang ul,
.login-button ul {
  height: 100%;
  line-height: 70px;
}

/* TOP */
.header-top {
  width: 100%;
}

#login-nav {
  width: 100%;
  height: 70px;
  position: fixed;
  background: #F4F9FD;
  border-bottom: 1px solid black;
  top: 0;
  z-index: 3;
}

.login-lang {
  float: left;
}


/* barra nav con login */
.login-lang li a {
  font-size: 1rem;
  color: #2c3d51;
  border-right: 1px solid black;
  padding-right: 10px;
}

.login-lang li:last-child a {
  border-right: 0px;
  padding-left: 0;
}

.login-lang li a {
  text-decoration: none;
}

.login-lang li a:hover {
  text-decoration: underline;
}

/*------- LOGIN ----------*/
.login-button {
  float: right;
}

.login-button ul li i {
  color: #01b1b1;
  font-size: .8em;
}

.login-button ul li i:hover {
  cursor: pointer;
}

#login,
.btn-hubspot {
  padding: 10px 8px;
  border: 1px solid #fd7a5a;
  border-radius: 5px;
}

#login {
  color: #fd7a5a;
  margin: 0 10px;

}

#login:hover {
  color: white;
  background: #fd7a5a;
  transition: .3s;
}

.btn-hubspot {
  background: #fd7a5a;
  color: white;
}

.btn-hubspot:hover {
  background: rgba(254, 119, 90, 0.8);
  transition: .3s;
}
/* /LOGIN */
/* /barra nav con login */


/* header barra nav con logo */
#logo-nav {
  margin-top: 70px;
  height: 70px;
  line-height: 70px;
}
.logo-nav-img {
  float: left;
}

.logo-nav-img {
  width: 30%;
}

#logo-nav {
  height: 70px;
}

#logo {
  vertical-align: middle;
}

.logo-nav-bar {
  float: right;
}

.logo-nav-bar ul li {
  list-style: none;
  display: inline-block;
  font-size: 1rem;
  color: #2c3d51;
  padding-left: 10px;
}
/* /header barra nav con logo */
/* /TOP */


/* BOTTOM */
.header-bottom {
  height: 700px;
  position: relative;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-color: #FFF3EE;
  background-position: top right;
}
.header-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
  background-color: #AFEBF4;
}

.title {
  position: relative;
}
.title h1,
.title p {
  width: 40%;
}

.title h1 {
  font-size: 3em;
  padding-top: 50px;
  margin-bottom: 20px;
  color: #2c3d51;

}


.title > p:nth-child(2) {
  font-size: .85em;
  margin-bottom: 20px;
}


.btn-big {
  display: inline-block;
  margin-bottom: 20px;
  padding: 20px 25px;
}

.title > p:nth-child(4) {
  font-size: 0.7em;
}

/* /sezione header */

/* sezione main */

main {
  width: 100%;
  background: #F5F8FA;
}

/* prima sezione */
#main-head {
  text-align: center;
  padding-top: 2em;
  margin-bottom: 2em;
}

#main-head img {
  height: 200px;
}

#main-head h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #33475B;
}

#main-head p {
  width: 70%;
  margin: 0 auto;
  font-size: 1em;
}

/* Main centrale */
.free-hub {
  height: 200px;
  background: white;
}

.first-box {
    float: left;
    width: 30%;
    text-align: center;
}

.first-box img {
  height: 60px;
}

.first-box a {
  display: block;
}



.col {
  width: 31%;
  background: red;
  float: left;
}

.first,
.second {
  margin-right: 3.5%
}
/* /Main centrale */
/* prima sezione */

 /* seconda sezione */
.second-section {
  background: blue;
}

.block-list li {
  list-style: none;
  width: 25%;
  float: left;
  text-align: center;
}
/* /seconda sezione */

/* terza sezione */
.numbers,
.partners-list {
  float: left;
}

.partners-list {
  background: yellow;
}

.start-growing,
.growing-block img {
  float: left;
  width: 50%;
}

/* /terza sezione */

/* /sezione main */

footer {
  height: 20%;
  background: #2c3d51;
}

.footer-col {
  float: left;
  width: 25%;
}

.footer-col ul li,
.languages li {
  list-style: none;
}

.languages {
  border-bottom: 2px solid black;
}

.languages li {
  display: inline-block;
}

.copy,
.legal-stuff {
  float: left;
  width: 50%,
}
