* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Monserrat",Helvetica,Arial,sans-serif;
  font-size: 16px;
}

/* stili comuni a tutta la pagina */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h1,h2,h3 {
  color: #33475B;
}

a {
  text-decoration: none;
}

.central-content {
  width: 70%;
  margin: 0 auto;
}

.fa-check-circle {
  color: #fd7a5a;
  padding-right: 10px;
}

.btn {
  text-decoration: none;
  font-size: .85em;
}
/* /stili comuni a tutta la pagina */

/* sezione header */
header {
  width: 100%;
  font-size: 1.125em;
}

/* classi liste comuni header */
.list-inline {
  height: 100%;
  display: inline-block;
}

.list-inline li {
  height: 100%;
  display: inline-block;
  line-height: 70px;
  padding: 0 5px;
}

.login-lang ul,
.login-button ul {
  height: 100%;
  line-height: 70px;
}
/* /classi liste comuni header */

/* Header TOP */
.header-top {
  width: 100%;
}


#login-nav {
  width: 100%;
  height: 70px;
  position: fixed;
  background: #F4F9FD;
  border-bottom: 1px solid black;
  top: 0;
  z-index: 3;
}


.login-lang {
  float: left;
}


/* barra nav con login */
.login-lang li a {
  font-size: .8em;
  color: #2c3d51;
  border-right: 1px solid black;
  padding-right: 10px;
}

.login-lang li:last-child a {
  border-right: 0px;
}

.login-lang li a {
  text-decoration: none;
}

.login-lang li a:hover {
  text-decoration: underline;
}

/*------- pulsante LOGIN ----------*/
.login-button {
  float: right;
}

.login-button ul li i {
  color: #01b1b1;
  font-size: .8em;
}

.login-button ul li i:hover {
  cursor: pointer;
}

#login,
.btn-hubspot {
  padding: 10px 8px;
  border: 1px solid #fd7a5a;
  border-radius: 5px;
}

#login {
  color: #fd7a5a;
  margin: 0 10px;

}

#login:hover {
  color: white;
  background: #fd7a5a;
  transition: .3s;
}

.btn-hubspot {
  background: #fd7a5a;
  color: white;
}

.btn-hubspot:hover {
  background: rgba(254, 119, 90, 0.8);
  transition: .3s;
}
/* /Pulsante LOGIN */
/* /barra nav con login */


/* header barra nav con logo */
#logo-nav {
  margin-top: 70px;
  height: 70px;
  line-height: 70px;
}
.logo-nav-img {
  float: left;
}

.logo-nav-img {
  width: 30%;
}

#logo-nav {
  height: 70px;
}

#logo {
  vertical-align: middle;
}

.logo-nav-bar {
  float: right;
}

.logo-nav-bar ul li {
  list-style: none;
  display: inline-block;
  font-size: 1rem;
  padding-left: 10px;
}

.logo-nav-bar ul li a {
  color: #2c3d51;
}
/* /header barra nav con logo */
/* /Header TOP */


/* Header BOTTOM */
.header-bottom {
  height: 700px;
  position: relative;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-color: #FFF3EE;
  background-position: top right;
}
.header-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
  background-color: #AFEBF4;
}

.title {
  position: relative;
}
.title h1,
.title p {
  width: 40%;
}

.title h1 {
  font-size: 3em;
  padding-top: 50px;
  margin-bottom: 20px;

}

.title > p:nth-child(2) {
  font-size: .85em;
  margin-bottom: 20px;
}


.btn-big {
  display: inline-block;
  margin-bottom: 20px;
  padding: 20px 25px;
}

.title > p:nth-child(4) {
  font-size: 0.7em;
}
/* /header bottom */
/* /sezione header */

/* sezione main */
main {
  background: #F5F8FA;
}

/* Main-top */
/* titolo main-top */
#main-head {
  text-align: center;
  padding-top: 2em;
  margin-bottom: 2em;
}

#main-head img {
  height: 200px;
}

#main-head h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

#main-head p {
  width: 70%;
  margin: 0 auto;
  font-size: 1em;
}
/* /titolo main-top */

/* main-top sezione centrale */
.free-hub {
  height: 300px;
  margin-bottom: 40px;
  background: white;
}

.first-box,
.second-box {
  float: left;
  height: 100%;
}

.first-box {
  float: left;
  width: 30%;
  text-align: center;
}


.first-box img {
    height: 100px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.learn-more-btn {
  display: block;
  margin: 0 auto;
  width: 150px;
  font-size: .8em;
}

.second-box {
  width: 60%;
  padding-top: 25px;
}

.second-box h3:first-child {
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 40px;
}

.second-box p {
  font-size: 1em;
}

#feature {
  font-size: 1.1em;
  text-transform: uppercase;
  margin-top: 20px;
}
#feature::after {
    float: right;
    position: relative;
    content: "";
    width: 400px;
    height: 1px;
    background-color: black;
    margin-top: .55em;
}
/* /main-top sezione centrale */

/* main top colonne */
.hub-columns {
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.col {
  width: 31%;
  background: white;
  text-align: center;
  float: left;
  padding: 30px;
  line-height: 30px;
  box-shadow: 0 0 11px #eaf0f6;
}

.col img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.col h2 {
  font-size: 1.4em;
  margin-bottom: 25px;
}

.col p {
  border-bottom: 1px solid black;
  padding-bottom: 50px;
  margin-bottom: 30px;
}

.col ul {
  text-align: center;
  margin-bottom: 35px;
}

.col ul li {
  list-style: none;
  text-align: left;
  line-height: 20px;
  font-size: .9em;
}


.popolar-feat {
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.first,
.second {
  margin-right: 3.5%
}
/* /main top colonne */
/* /Main top */

/* Main-community */
.main-community {
  margin: 0 auto;
  background: linear-gradient(90deg, rgba(0,168,186,1) 20%, rgba(0,185,169,1) 90%);
  margin-top: 40px;
  text-align: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 100px;
}

.main-community p {
  font-size: 1em;
}

#community-title h2,
.block h3 {
  color: white;
}

#community-title {
  font-size: 1.5em;
  margin-bottom: 40px;
}

#community-title p {
  margin-top: 30px;
  font-size: .7em;
}

/* blocchi community */
.block-list li {
  width: 25%;
  height: 200px;
  list-style: none;
  float: left;
  border-right: 1px solid white;
  padding: 30px 40px;
  line-height: 30px;
}

.block-list li:nth-child(4n + 0) {
  border-right: 0px;
}

.block-list li:nth-child(-n + 4) {
  border-bottom: 1px solid white;
}

.block h3 {
  font-size: 2.4em;
  padding: 10px;
}

.block h3::after {
content: "+";
display: inline-block;
font-size: .5em;
position: relative;
transform: translateY(-25%);
color: #fff;
font-weight: 200;
}
/* /blocchi community */
/* /Main-community */

/* main partners */
.main-partners {
  background: white;
}

.numbers {
  float: left;
  width: 15%;
  margin-top: 50px;
  line-height: 20px;
  padding: 30px;
}

.numbers h2 {
  font-size: 3em;
  margin-bottom: 40px;
}

.partners-list {
  float: right;
  width: 60%;
  height: 20%;
  margin-top: 50px;
  margin-right: 50px;
}

.partners-list li {
  width: 25%;
  padding: 20px;
  height: 80px;
  border: none;
  text-align: center;
}

.partners-list li img {
  max-height: 100%;
  max-width: 100%;
  min-width: 100px;
}

.start-growing {
  float: left;
  width: 40%;
  line-height: 30px;
}

.start-growing h2 {
  font-size: 2.3em;
  margin: 30px 0;
}

.start-growing a {
  margin: 30px 0;
  padding: 15px 35px;
}

.growing-block img {
  float: right;
  width: 25%;
  margin-bottom: 50px;
}

.start-growing p:nth-child(4) {
  font-size: .8em;
}
/* /main partners */
/* /sezione main */

/* footer */
footer {
  background: #32495B;
  padding: 30px;
  height: 45%;
}

.footer-col ul li,
.languages li,
.footer-col h4 {
  list-style: none;
  text-transform: capitalize;
}

footer a {
  color: #cbd6e2;
}

/* prima sezione footer */
.footer-col {
  float: left;
  width: 25%;
  line-height: 37px;
  font-size: .95em;
}

.footer-col h4 {
  font-size: 1.1em;
  padding-bottom: 10px;
  color: white;
}

#footer-btn {
  color: #32495B;
  background: #cbd6e2;
  font-size: .9em;
  padding: 10px 15px;
  border-radius: 3px;
}

.footer-col li i {
  padding-right: 20px;
  font-size: 15px;
}
/* /prima sezione footer */

/* lingue footer */
.languages {
  border-bottom: 1px solid white;
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
}

.languages li {
  display: inline-block;
  padding-right: 20px;
}
/* /lingue footer */

/* copyright */
.copyright {
  margin-top: 35px;
}

.copy {
  float: left;
  width: 50%;
}

.copy a {
  opacity: .7;
}

.copy p {
  color: white;
}

.legal-stuff a {
  float: right;
  color: #cbd6e2;
  text-transform: capitalize;
  text-decoration: none;
  padding-left: 20px;
}
/* /copyright */
/* /footer */


/* chat */
.chat {
  width: 70px;
  height: 70px;
  background: rgb(66, 91, 118);
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 4;
  border-radius: 50%;
  text-align: center;
  }

  .chat i {
    font-size: 25px;
  }

.chat i:first-child {
    position: absolute;
    display: block;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px -2px rgb(66, 91, 118);
    z-index: 4;
  }

.chat i:nth-child(2) {
    position: absolute;
    display: block;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -65%);
  }

.chat:hover {
    cursor: pointer;
  }

.chat-box {
    width: 250px;
    position: fixed;
    padding: 20px;
    background: white;
    right: 30px;
    bottom: 120px;
    z-index: 4;
    border-radius: 3px;
  }

  #chat-img {
    width: 100%;
    text-align: center;
    position: absolute;
    top: -25%;
    right: 0;
  }

  #chat-img img {
    width: 40px;
    height: 40px;
  }

  .chat-box p {
    font-size: 1em;
  }

  .chat-box p::before {
    content: "\2613";
    font-size: 1.4em;
    position: absolute;
    top: 0;
    right: 10px;
  }

  /* /chat */
