* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: pink;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* sezione header */
header {
  width: 100%;
  background: red;
}

/* TOP */
.header-top {
  background: lightblue;
}

.login {
  background: grey;
}

/* /TOP */

/* BOTTOM */
.title {
  background: blue;
}

.divider {
  height: 30px;
  background: orange;
}

/* /sezione header */

/* sezione main */

main {
  height: 80%;
  background: purple;
}

footer {
  height: 20%;
  background: green;
}
